.Button {
    cursor: pointer;
    color: var(--primary-color);
    padding: 12px 40px;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
    font-weight: 700;
    line-height: 17px;
    font-size: 15px;
}

.primary {
    background: none;
    border: 1px solid var(--primary-color);


    &:hover {
        color: var(--background-color);
        background-color: var(--primary-color);
    }
}

.secondary {
    outline: none;
    border: 1px solid var(--secondary-color);
    color: var(--background-color);
    background: var(--secondary-color);

    &:hover {
        color: var(--primary-color);
        background-color: transparent;
        border-color: transparent;
    }
}

.clear {
    border: none;
    padding: 4px 12px;
    background-color: transparent;
}


.disabled {
    opacity: 0.5;
}