:root {
  /* colors */
  --background-color: rgba(255, 255, 255, 1);
  --header-color: rgba(214, 231, 255, 1);
  --primary-color: rgba(0, 5, 11, 1);
  --secondary-color: rgba(29, 92, 186, 1);

  /* size */
  --navbar-height: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: calc(100vw - var(--navbar-height)); */
  max-height: calc(100vh - var(--navbar-height));
  overflow-x: hidden;
}

body {
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}
