:root {
  /* colors */
  --background-color: rgba(255, 255, 255, 1);
  --header-color: rgba(214, 231, 255, 1);
  --primary-color: rgba(0, 5, 11, 1);
  --secondary-color: rgba(29, 92, 186, 1);
  --additional-color: rgba(149, 156, 168, 1);
  --hover-card-color: rgba(241, 242, 248, 1);

  /* size */
  --navbar-height: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
}

body {
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}
