
.container {
    min-height: 100vh;
    padding: 32px 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
   max-width: 1280px;
   width: 100%;
}

.icon {
    margin-bottom: 32px;

    &:hover {
        opacity: 0.5;
    }
}